*{
    font-family: 'Press Start 2P';
}

body{
    background-color: rgb(33, 33, 33);
    
}
div#buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    top: 400px;
    position: absolute;
    left: 2rem;
    
}
.atk1,
.atk2,
.atk3,
.atk4 {
    color: rgb(0, 0, 0);
    background-color: rgb(160, 160, 160);
    background-image: url('images/msg-box.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 1rem;
    margin-right: 5.3rem;
    padding: .4rem;
}


.overlay1 {
    position: absolute;
    left: 0;
    bottom: 3rem;
    height: 3.5rem;
    width: 8rem;
    opacity: 0;
    
    background-color: #000000;
}
#atk1:hover .overlay1 {
    opacity: 1;
}

.text1 {
    color: white;
    font-size: .7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.overlay2 {
    position: absolute;
    left: 13rem;
    bottom: 3rem;
    height: 3.5rem;
    width: 8rem;
    opacity: 0;
    
    background-color: #000000;
}
#atk2:hover .overlay2 {
    opacity: 1;
}
  
.text2 {
    color: white;
    font-size: .6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay3 {
    position: absolute;
    left: 25.7rem;
    bottom: 3rem;
    height: 3.5rem;
    width: 8rem;
    opacity: 0;
    
    background-color: #000000;
}
#atk3:hover .overlay3 {
    opacity: 1;
}
  
.text3 {
    color: white;
    font-size: .6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.overlay4 {
    position: absolute;
    left: 39rem;
    bottom: 3rem;
    height: 3.5rem;
    width: 8rem;
    opacity: 0;
    
    background-color: #000000;
}
#atk4:hover .overlay4 {
    opacity: 1;
}
  
.text4 {
    color: white;
    font-size: .6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.attack {
    color: red;
    font-size: .7rem;
}
.health {
    color: green;
}
#game {
    height: 1000px;
}

#hero{
    position: absolute;
    top: 80px;
    left: 0;
    
}
#display{
    position: absolute;
    top: 10px;
    left: 48px;
}


.timer{
    position: absolute;
    top: 1.4rem;
    left: .5rem;
    font-size: 1rem;
    text-align: center;
    width: 800px;
    font-family: 'Press Start 2P';
    -webkit-text-fill-color: rgb(255, 255, 255); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.player{
    position: absolute;
    top: 80px;
    left: 0;
}

.btn-disable
{
    cursor: not-allowed;
    pointer-events: none;
    /*Button disabled - CSS color class*/
    color: #C0C0C0;
    background-color: #FFFFFF;
    

}
#end{
    visibility: hidden;
    position: fixed;
    top: 100px;
    left: 200px;
    margin: 3rem;
    padding: 1rem;
    background-image: url('images/msg-box.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 20rem;
}
#end button {
    background-image: url('images/msg-box.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}


#end a{
    -webkit-text-fill-color: rgb(0, 195, 255); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    text-decoration: none;
}
#end a:hover {
    -webkit-text-fill-color: rgb(0, 60, 255); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}
.champ1{
    width:2rem;
    height: 2rem;
    position: absolute;
    top: 40px;
    right: 30px;
}
.champ2{
    width:2rem;
    height: 2rem;
    position: absolute;
    top: 40px;
    left: 30px;
}
.winner{
    font-size: 1.3rem;
    -webkit-text-fill-color: rgb(106, 255, 0); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}
.winner-name {
    -webkit-text-fill-color: rgb(77, 255, 0); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
}

.modal-backdrop.show {
    display: none !important;
}

.abt-header h2{
    font-size: 30px;
    padding-top: 20px;
    text-align: center;
    top: -80px;
    width: 552px;
    height: 80px;
    margin: auto;
    background: transparent url(https://i.imgur.com/A4wyuIG.png) top no-repeat;
}


.abt-body{
    width: 552px;
    background: transparent url(https://i.imgur.com/EV7Fckb.png) repeat-y;
    height: 500px;
    display: block;
    text-align: center;
    margin: auto;
  
}

.abt-body p{
    font-size: 12px;
    line-height: 1.5em;
    letter-spacing: 2px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    
}

.abt-footer{
   background: transparent url('https://i.imgur.com/A4wyuIG.png')0 -75px no-repeat;
   margin: auto;
   width: 552px;
   text-align: center;
   height: 80px;
   margin-top:-.6px;
}

.abt-body h2{
    font-size: 30px;
}

#miss{
    -webkit-text-fill-color: rgb(255, 255, 255); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    width: 5rem;
    position: absolute;
    top: 100px;
    left: 350px;
}
#miss h3{
    font-size: 1.2rem;
}