*{
    font-family: 'Press Start 2P';
}

body{
    background-color: rgb(33, 33, 33);
    
}
div#buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    top: 470px;
    position: absolute;
   
    left: 2rem;
}
.atk1,
.atk2,
.atk3,
.atk4 {
    color: rgb(0, 0, 0);
    background-color: rgb(160, 160, 160);
    font-size: 1rem;
    margin-right: 5.3rem;
    padding: .4rem;
}


.overlay1 {
    position: absolute;
    left: 0;
    bottom: 3rem;
    height: 3.5rem;
    width: 8rem;
    opacity: 0;
    
    background-color: #000000;
}
#atk1:hover .overlay1 {
    opacity: 1;
}

.text1 {
    color: white;
    font-size: .7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.overlay2 {
    position: absolute;
    left: 11rem;
    bottom: 3rem;
    height: 3.5rem;
    width: 8rem;
    opacity: 0;
    
    background-color: #000000;
}
#atk2:hover .overlay2 {
    opacity: 1;
}
  
.text2 {
    color: white;
    font-size: .6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay3 {
    position: absolute;
    left: 21.7rem;
    bottom: 3rem;
    height: 3.5rem;
    width: 8rem;
    opacity: 0;
    
    background-color: #000000;
}
#atk3:hover .overlay3 {
    opacity: 1;
}
  
.text3 {
    color: white;
    font-size: .6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.overlay4 {
    position: absolute;
    left: 33rem;
    bottom: 3rem;
    height: 3.5rem;
    width: 8rem;
    opacity: 0;
    
    background-color: #000000;
}
#atk4:hover .overlay4 {
    opacity: 1;
}
  
.text4 {
    color: white;
    font-size: .6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.attack {
    color: red;
    font-size: .7rem;
}
.health {
    color: green;
}


#hero{
    position: absolute;
    top: 80px;
    left: 0;
    
}
#display{
    position: absolute;
    top: 10px;
    left: 48px;
}

#timer {
    width: 700px;
    
    
}
.timer{
    position: absolute;
    top: 1rem;
    
    text-align: center;
    width: 800px;
    font-family: 'Press Start 2P';
}

.player{
    position: absolute;
    top: 80px;
    left: 0;
}